header {
    background: transparent;
}

h1 {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #00677E;
    margin-bottom: 16px;
}

h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -3px;
    color: #000F22;
}

header>section {
    padding: 128px 48px 0;
}

main>section:first-of-type {
    padding: 0 48px 128px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 60px;
        line-height: 60px;
    }
}