@import url(../fonts/inter/inter.css);

:root {
    --color-principal: #43474d;
    --color-acento: #00677E;
    --fuente-principal: InterVariable;
}

* {
    box-sizing: border-box;
}

:focus {
    outline-color: #00D2FD;
}

body {
    background: #FAF8FF;
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--color-principal);
}

cite {
    font-style: italic;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.2px;
    margin-top: 0;
    margin-bottom: 32.5px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.9px;
    color: #000F22;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000F22;
}

h2.sub-raiado::after {
    content: '';
    display: block;
    width: 96px;
    height: 4px;
    background: var(--color-acento);
    margin-block: 16px;
}

section {
    padding: 128px 20px;
}

a {
    color: var(--color-acento);
}

/* formularios */

form {
    gap: 32px;
}

label,
.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

label.label-radio,
label.label-checked {
    display: inline-flex;
    font-weight: 500;
    text-transform: none;
    align-items: center;
    gap: 11px;
    margin-right: 23px;
}

label.label-checked {
    align-items: start;
}

:is(input,
    select,
    textarea) {
    padding: 13px 16px;
    border: none;
    background: #E2E7FF;
    border-radius: 6px;
    width: 100%;
}

:is(input,
    select,
    textarea):focus {
    background-color: #fafafa;
}

:is(input,
    select,
    textarea):invalid {
    outline-color: #fd3b00;
}

:is(input,
    select,
    textarea):invalid:required {
    background: #d1d1d1;
}

:is(input,
    select,
    textarea):invalid:out-of-range {
    outline-color: #fdba00;
}

:is(input,
    select,
    textarea):valid {
    outline-color: #00fd59;
}

textarea {
    height: 150px;
    font-family: InterVariable;
}

input[type=radio],
input[type=checkbox] {
    margin: 0;
    width: 20px;
    height: 20px;
    background: #E2E7FF;
    border: 1px solid #C4C6CE;
    appearance: none;
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
}

input[type=radio] {
    border-radius: 100%;
}

input[type=radio]:checked {
    background-color: var(--color-acento);
    border-color: transparent;
}

input[type=radio]::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    width: 50%;
    height: 50%;
    display: block;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

input[type=radio]:checked::before {
    background-color: #fff;
}

input[type=checkbox] {
    border-radius: 2px;
    min-width: 20px;
}

input[type=checkbox]:checked::before {
    content: '✔';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: var(--color-acento);
}

::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #6B7280;
}

button,
.button {
    padding: 18px 32px;
    background: linear-gradient(90deg, var(--color-acento) 0%, #00D2FD 100%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.secundario {
    border: 2px solid rgba(196, 198, 206, 0.2);
    background: white;
    color: var(--color-principal);
}

a.button {
    display: inline-block;
    text-decoration: none;
}

footer {
    grid-template-rows: repeat(3, auto [col-start]);
    grid-template-columns: 1fr;
    padding: 40px 20px;
    background-color: #D2D9F4;
    margin-top: 129px;
}


footer p,
footer ul a {
    line-height: 26px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: rgba(67, 71, 77, 0.7);
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer p small {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.5px;
}

footer form.contenedor-flex {
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    gap: 0;
}

footer input[type=email] {
    padding: 13px 16px;
    width: 180px;
    height: 44px;
    border-radius: 6px 0px 0px 6px;
}

footer button[type=submit] {
    padding: 12px 24px;
    width: 111px;
    height: 44px;
    background: #000F22;
    border-radius: 0px 6px 6px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Estilos para el Header principal */
header {
    background-image: linear-gradient(135deg, #000F22 0%, #0A2540 100%);
}

header nav {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 24px 48px;
    background: rgba(250, 248, 255, 0.8);
    box-shadow: 0px 20px 40px rgba(10, 37, 64, 0.04);
    backdrop-filter: blur(10px);
    min-width: 100vw;
    z-index: 100;
    top: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: none;
    gap: 20px;
    flex-wrap: wrap;
}

header nav>div a {
    width: 100px;
    min-width: fit-content;
    text-align: center;

    text-decoration: underline transparent;
    color: var(--color-principal);
    transition: all 0.3s;
    text-underline-offset: 8px;
}

header nav ul a {
    text-decoration: underline transparent;
    color: var(--color-principal);
    transition: all 0.3s;
    text-underline-offset: 8px;
    font-weight: 700;
}

header nav ul a:hover {
    color: #000F22;
    text-decoration-color: var(--color-acento);
}

header div.banner {
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 20px;
    flex-direction: column-reverse;
}

header div.banner>div {
    flex-basis: calc(50% - 32px) !important;
}

header div.banner p {
    margin-bottom: 32.5px;
}



/* Fin de los estilos para el Header principal */


.boton {
    padding: 8px 24px;
    background: #0A2540;
    border-radius: 6px;
    width: fit-content;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.boton-principal,
.boton-secundario {
    padding: 17px 32px;
}

.boton-principal {
    background: linear-gradient(90deg, var(--color-acento) 0%, #00D2FD 100%);
}

.boton-secundario {
    border: 1px solid rgba(196, 198, 206, 0.2);
}

.botones-banner {
    gap: 16px;
}

/* Clases auxiliares */

.posicion-fija {
    position: fixed;
}

.contenedor-flex {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedor-grid {
    display: grid;
}

.contenedor-grid .botones-opcion {
    gap: 16px;
}

.contenedor-flex>div {
    flex: 1;
}

.contenedor-centrado {
    max-width: 1280px;
    margin: auto;
}

.textos-blancos {
    color: #FFFFFF !important;
}

.fondo-terciario {
    background: #D2D9F4 !important;
}

.imaxe-responsive {
    width: 100%;
    height: auto;
}

main>section:nth-of-type(odd) {
    background: transparent;
}

main>section:nth-of-type(even) {
    background: #F2F3FF;
}

footer h3 {
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.columna-xl-aside {
    /*grid-template: auto auto / calc(672 / 1088 * 100%) calc(416 / 1088 * 100%);*/
    grid-template: auto auto / 100%;
    gap: 32px;
}

.columna-xl-aside>section:first-of-type {
    grid-column-start: 1;
    grid-row-start: 2;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(19, 27, 46, 0.06);
    border-radius: 8px;
    padding: 20px;
}

/* Tablet en vertical */
@media (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.8px;
    }

    .columna-xl-aside section {
        padding: 48px 48px 64px;
    }

    header div.banner {
        padding: 124px 24px 48px;
        flex-direction: row;
    }

    section {
        padding: 128px 48px;
    }

    .contenedor-flex {
        flex-direction: row;
    }

    .contenedor-grid .col-izquierda {
        grid-column-end: 2;
    }

    .contenedor-grid .col-derecha {
        grid-column-start: 2;
    }

    .contenedor-grid .col-100 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .contenedor-grid .botones-opcion {
        grid-template-columns: 2fr 1fr;
    }

    footer {
        grid-template-columns: repeat(2, 1fr [col-start]);
        grid-template-rows: 1fr;
        padding: 80px 48px;
        gap: 64px;
    }
}

/* Tablet en horizontal ou portátil pequeno */
@media (min-width: 1024px) {
    h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -3.8px;
    }

    footer {
        grid-template: "logotipo legal contacto" 1fr / 1fr 1fr 1fr;
    }

    .item-1 {
        grid-area: logotipo;
    }

    .item-2 {
        grid-area: legal;
    }

    .item-3 {
        grid-area: contacto;
        justify-items: end;
    }

    header nav ul {
        display: flex;
    }

    .columna-xl-aside {
        /*grid-template: auto auto / calc(672 / 1088 * 100%) calc(416 / 1088 * 100%);*/
        grid-template: auto / 60% 40%;
        grid-template-areas:
            "titulo ."
            "section aside";
        gap: 32px;
    }

    .columna-xl-aside>div:first-of-type {
        grid-area: titulo;
    }

    .columna-xl-aside>section:first-of-type {
        grid-area: section;
    }

    .columna-xl-aside>section {
        grid-column-start: 1;
    }

    .columna-xl-aside>aside {
        grid-area: aside;
        position: sticky;
        top: 120px;
    }
}

/* Portátil grande */
@media (min-width: 1440px) {
    h1 {
        font-size: 96px;
        line-height: 96px;
        letter-spacing: -4.8px;
    }

    footer input[type=email] {
        width: 241px;
    }
}